/* Estilos generales para el contenedor */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  body {
    font-family: 'Nunito', sans-serif;
  }

  /* Estilos para el encabezado del formulario */
  h1 {
    margin-bottom: 20px;
  }
  
  /* Estilos para los grupos de entrada */
  .input-group {
    margin-bottom: 15px;
  }
  
  /* Estilos para las etiquetas */
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Estilos para los campos de entrada */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  /* Estilos para el campo de entrada en foco */
  .form-control:focus {
    border-color: #80bdff;
    outline: none;
  }
  
  /* Estilos para el botón */
  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para las secciones de visualización de resultados */
  h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    margin: 10px 0;
  }
  